<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
<div id="menu_top">
   <ul>

                <li><a href="login" accesskey="1" title="">ADMINISTRATOR</a></li>
                <li><a href="#" accesskey="2" title="">CONTACT US</a></li>
                <li><a href="login" accesskey="3" title="">RISK WISK</a></li>
                <li><a href="{% url 'home' %}" accesskey="4" title="">HOMEPAGE</a></li>
   </ul>
</div>
<div id="slogan">
     <h1>CORTERK  PROJECT</h1>
</div>
<div id="line"></div>
<div id="main">
    <div id="main-left">
        <ul>
            <h2>Menu Proposal</h2>
            <li><a href="#">Manager Proposal</a></li>
            <li><a href="newSite">Add new Proposal</a></li>
            <li><a href="#">Risk Summary</a></li>
        </ul>
    </div>
    <div id="main-right">

    </div>
</div>
<div id="footer"></div>
<div id="end"></div>

</body>
</html>