{% extends 'BaseUI/BaseCitizen/baseCitizen.html' %}
{% load staticfiles %}

{% block content %}
    <div class="people-normal">
        <table border="1px " style="width: 1150px; margin-left: 100px;" >
            <caption style="font-size: 32px; text-align: center; color: black">Site List is Calculated</caption>
            <thead>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">Factory Name</th>
                <th style="text-align: center;">Describe</th>
                <th style="text-align: center;">Contact Address</th>
                <th style="text-align: center;">Check Result</th>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-left: 5px;">1</td>
                    <td style="padding-left: 15px;">Đại học Bách Khoa Hà Nội</td>
                    <td style="padding-left: 15px;">Trường Đại học Bách khoa Hà Nội (tên tiếng Anh<br> Hanoi university of science and technology – viết tắt HUST)<br> được
                                thành lập theo Nghị định số 147/NĐ ngày<br> 6-3-1956 do Bộ trưởng Bộ Giáo dục Nguyễn Văn Huyên ký.<br>
                                Đây là trường đại học kỹ thuật đầu tiên của nước ta<br>
                                có nhiệm vụ đào tạo kỹ sư công nghiệp cho công cuộc<br>
                                xây dựng CNXH ở miền Bắc và đấu tranh giải phóng miền Nam;<br>
                                là trung tâm đào tạo, nghiên cứu khoa học và công nghệ đa ngành,<br>
                                đa lĩnh vực; kết hợp chặt chẽ giữa đào tạo với nghiên cứu<br>
                                khoa học nhằm tạo nguồn nhân lực chất lượng cao<br>
                                và bồi dưỡng nhân tài khoa học, công nghệ; định hướng phát triển<br>
                                thành đại học nghiên cứu ngang tầm với các đại học<br>
                                 có uy tín trong khu vực và trên thế giới.</td>
                    <td style="padding-left: 15px;">Số 1 Đại Cồ Việt </td>
                    <td style="padding-left: 15px;"><a href="{% url 'home'  %}" > View</a></td>
                </tr>

                <tr>
                    <td style="padding-left: 5px;">2</td>
                    <td style="padding-left: 15px;">Đại học Bách Khoa Hà Nội</td>
                    <td style="padding-left: 15px;">Trường Đại học Bách khoa Hà Nội (tên tiếng Anh<br> Hanoi university of science and technology – viết tắt HUST)<br> được
                                thành lập theo Nghị định số 147/NĐ ngày<br> 6-3-1956 do Bộ trưởng Bộ Giáo dục Nguyễn Văn Huyên ký.<br>
                                Đây là trường đại học kỹ thuật đầu tiên của nước ta<br>
                                có nhiệm vụ đào tạo kỹ sư công nghiệp cho công cuộc<br>
                                xây dựng CNXH ở miền Bắc và đấu tranh giải phóng miền Nam;<br>
                                là trung tâm đào tạo, nghiên cứu khoa học và công nghệ đa ngành,<br>
                                đa lĩnh vực; kết hợp chặt chẽ giữa đào tạo với nghiên cứu<br>
                                khoa học nhằm tạo nguồn nhân lực chất lượng cao<br>
                                và bồi dưỡng nhân tài khoa học, công nghệ; định hướng phát triển<br>
                                thành đại học nghiên cứu ngang tầm với các đại học<br>
                                 có uy tín trong khu vực và trên thế giới.</td>
                    <td style="padding-left: 15px;">Số 1 Đại Cồ Việt </td>
                    <td style="padding-left: 15px;"><a href="{% url 'home'  %}"> View</a></td>
                </tr>

                <tr>
                    <td style="padding-left: 5px;">3</td>
                    <td style="padding-left: 15px;">Đại học Bách Khoa Hà Nội</td>
                    <td style="padding-left: 15px;">Trường Đại học Bách khoa Hà Nội (tên tiếng Anh<br> Hanoi university of science and technology – viết tắt HUST)<br> được
                                thành lập theo Nghị định số 147/NĐ ngày<br> 6-3-1956 do Bộ trưởng Bộ Giáo dục Nguyễn Văn Huyên ký.<br>
                                Đây là trường đại học kỹ thuật đầu tiên của nước ta<br>
                                có nhiệm vụ đào tạo kỹ sư công nghiệp cho công cuộc<br>
                                xây dựng CNXH ở miền Bắc và đấu tranh giải phóng miền Nam;<br>
                                là trung tâm đào tạo, nghiên cứu khoa học và công nghệ đa ngành,<br>
                                đa lĩnh vực; kết hợp chặt chẽ giữa đào tạo với nghiên cứu<br>
                                khoa học nhằm tạo nguồn nhân lực chất lượng cao<br>
                                và bồi dưỡng nhân tài khoa học, công nghệ; định hướng phát triển<br>
                                thành đại học nghiên cứu ngang tầm với các đại học<br>
                                 có uy tín trong khu vực và trên thế giới.</td>
                    <td style="padding-left: 15px;">Số 1 Đại Cồ Việt </td>
                    <td style="padding-left: 15px;"><a href="{% url 'home'  %}"> View</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
