<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
<div id="menu_top">
   <ul>

                <li><a href="login" accesskey="1" title="">ADMINISTRATOR</a></li>
                <li><a href="{% url 'contact' %}" accesskey="2" title="">CONTACT US</a></li>
                <li><a href="login" accesskey="3" title="">RISK WISK</a></li>
                <li><a href="{% url 'home' %}" accesskey="4" title="">HOMEPAGE</a></li>
   </ul>
</div>
<div id="slogan">
     <h1>CORTERK  PROJECT</h1>
</div>
<div id="line"></div>
<div id="main">
    <div id="main-left">
        <ul>
            <h2>Menu Site</h2>
            <li><a href="{% url 'site_display' %}">Manager Site</a></li>
            <li><a href="{% url 'newSite' %}">Add new Site</a></li>
            <li><a href="#">Risk Summary</a></li>
        </ul>
    </div>
    <div id="main-right">

    </div>
</div>
<div id="end">
    <div id="end_left">
        <h4>@2017 Embedded Networking Laboratory</h4>
    </div>
    <div id="end_right">
        <h4>Reference: Kim Anh </h4>
    </div>

</div>

</body>
</html>