<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div>
    <form >
        <fieldset style="width: 1100px;">
            <legend style="font-size: 20px"><p><b>Component</b></p></legend>
            <table  cellspacing="15px" cellpadding="10px" width="1100px;">
                <tr>
                    <td><span style="font-size: 16px;">Tank Diameter</span></td>
                    <td><input type="text" value="" name="TankDiameter"/>&ensp;in</td>
                    <td><span style="font-size: 16px;">Nominal Thickness</span></td>
                    <td><input type="text" value="" name="NominalThickness"/>&ensp;mm</td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px;">Current Thickness</span></td>
                    <td><input type="text" value="" name="CurrentThickness"/>&ensp;mm</td>
                    <td><span style="font-size: 16px;">Min. Required Thickness</span></td>
                    <td><input type="text" value="" name="Min"/>&ensp;mm</td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px;">Current Corrosion Rate</span></td>
                    <td><input type="text" value="" name="CurrentCorrosionRate"/>&ensp;mm/yr</td>
                    <td><span style="font-size: 16px;">Number Inspection</span></td>
                    <td><input type="text" value="" name="NumberInspection"/></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px;">Damage Found During Inspection</span></td>
                    <td><input type="checkbox" value= 1 list="DFDI"  name="DFDI"/>

                    </td>
                    <td><span style="font-size: 16px;">Presence of Cracks</span></td>
                    <td><input type="checkbox" value= 1 list="PresenceCracks"  name="PresenceCracks"/>

                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px;">Tramp Elements</span></td>
                    <td><input type="checkbox" value= 1 list="TrampElements" name="TrampElements"/>

                    </td>
                    <td><span style="font-size: 16px;">Release Prevention Barrier</span></td>
                    <td><input type="checkbox" value= 1  list="ReleasePreventionBarrier"  name="ReleasePreventionBarrier"/>

                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px;">Concrete or Asphalt Foundation</span></td>
                    <td><input type="checkbox" value= 1 list="ConcreteFoundation"  name="ConcreteFoundation"/>

                    </td>

                </tr>
            </table>
            <table  cellspacing="15px" cellpadding="10px" width="1100px;">
                <tr>
                    <td><span style="font-size: 16px;">Maximum Brinnell Hardness</br> of Weld</span></td>
                    <td><input list="Max" name="Max" size="40"/>
                        <datalist id="Max">
                            <option value="A"></option>
                            <option value="B"></option>
                            <option value="C"></option>
                        </datalist>

                </tr>
                <tr>
                    <td><span style="font-size: 16px;">Complexity of Protrusions</span></td>
                    <td><input list="ComplexityProtrusions" name="ComplexityProtrusions" size="40"/>
                        <datalist id="ComplexityProtrusions">
                            <option value="A"></option>
                            <option value="B"></option>
                            <option value="C"></option>
                        </datalist>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                    <td>&emsp;&emsp;&emsp;&emsp;</td>

                </tr>
                <tr>
                    <td><span style="font-size: 16px;">Severity of Vibration</span></td>
                    <td><input list="SeverityVibration" name="SeverityVibration" size="40"/>
                        <datalist id="SeverityVibration">
                            <option value="A"></option>
                            <option value="B"></option>
                            <option value="C"></option>
                            <option value="D"></option>
                        </datalist>

                </tr>
                <tr>
                    <td></td><td><input type="submit" value="Creat a new Component Tank" style="font-size: 16px"></td>
                </tr>


            </table>
        </fieldset>
    </form>
</div>
</body>
</html>