<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operating</title>
</head>
<body>
<div>
    <form action="">
    <fieldset style="width: 1100px;">
        <legend style="font-size: 20px"><p><b>Operating Condition</b></p></legend>
        <table  cellspacing="10px" width="1100px;">
            <tr>
                <td ><span style="color: red;font-size: 16px">Maximum Operating Temperature</span></td>
                <td><input type="text" name="MaxOT"/>&ensp;&deg;C</td>
                <td><span style="font-size: 16px">Maximum Operating Pressure</span></td>
                <td><input type="text" name="MaxOP"/>&ensp;psi</td>
            </tr>
            <tr>
                <td><span style="color: red;font-size: 16px">Minimum Operating Temperature</span>
                <td></span><input type="text" name="MinOT"/>&ensp;&deg;C</td>
                <td><span style="font-size: 16px">Minimum Operating Pressure</span></td>
                <td><input type="text" name="MinOP"/>&ensp;psi</td>
            </tr>
            <tr>
                <td><span style="color: red;font-size: 16px">Operating Hydrogen Partial Pressure </span></td>
                <td><input type="text" name="OHPP"/>&ensp;psi</td>
                <td><span style="font-size: 16px">Flow Rate</span></td>
                <td><input type="text" name="FlowRate"/>&ensp;m3/hr</td>
            </tr>
            <tr>
                <td><span style="color: red;font-size: 16px">Critical Exposure Temperature</span></td>
                <td><input type="text" name="CET"/> &ensp;&deg;C</td>
            </tr>
        </table>
        <fieldset>
            <legend ><p><b><span style="font-size: 16px">Operating Temperature in Different Temperature Ranger</span></b></p></legend>
            <table  cellspacing="10px" width="1100px;" height="30px;">
                <tr>
                    <td ><span style="font-size: 16px">% Operating at -12 &deg;C to  -8 &deg;C </span></td>
                    <td><input type="text" name="Operating1"/> %</td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                    <td></td>

                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at -8 &deg;C to  6 &deg;C </span></td>
                    <td><input type="text" name="Operating2"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at 6 &deg;C to  32 &deg;C </span></td>
                    <td><input type="text" name="Operating3"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at 32 &deg;C to  71 &deg;C </span></td>
                    <td><input type="text" name="Operating4"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at 71 &deg;C to  107 &deg;C</span></td>
                    <td><input type="text" name="Operating5"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at 107 &deg;C to  121 &deg;C </span></td>
                    <td><input type="text" name="Operating6"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at 121 &deg;C to  135 &deg;C</span></td>
                    <td><input type="text" name="Operating7"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at 135 &deg;C to  162 &deg;C </span></td>
                    <td><input type="text" name="Operating8"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at 162 &deg;C to  176 &deg;C</span></td>
                    <td><input type="text" name="Operating9"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">% Operating at 176 &deg;C or above</span></td>
                    <td><input type="text" name="Operating10"/> %</td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr><td></td><td><input type="submit" class="button" value="Creat new Operating" style="font-size: 16px"></td>
            </tr>
            </table>
        </fieldset>
    </fieldset>
    </form>
</div>
</body>
</html>