
<body>
<div>
    <form action="" >
        <fieldset style="width: 1000px;">
            <legend style="font-size: 20px"><p><b>Assessment General Information</b></p></legend>
                <legend style="font-size: 18px"><p><b>Assessment</b></p></legend></br>
            <table>
                <tr>
                    <td>Assessment Name</td>
                    <td><input type="text" name="AssessmentName" value="" size="40"/></td>
                </tr>
                <tr>
                    <td>Assessment Date</td>
                    <td><input type="date" size="40" value="" name="AssessmentDate"/></td>
                </tr>
                <tr>
                    <td>Risk Analysis Period&nbsp;</td>
                    <td><input type="text" name="RiskAnalysisPeriod" value="" size="20">&ensp;months </td>
                </tr>
            </table>
        </fieldset>

            <fieldset style="width: 1000px;">
                <legend style="font-size: 18px"><p><b>Equipment</b></p></legend></br>
               <table>
                   <tr>
                       <td>Equipment Number</td>
                       <td><input type="text" name="EquipmentNumber" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Equipment Type</td>
                       <td><input type="text" name="EquipmentType" value="" size="40"/> </td>
                   </tr>
                   <tr>
                       <td>Design Code</td>
                       <td><input type="text" name="DesignCode" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Site</td>
                       <td><input type="text" name="Plant" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Facility</td>
                       <td><input type="text" name="Facility" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Manufacturer</td>
                       <td><input type="text" name="Manufacturer" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Comission Date</td>
                       <td><input type="date" name="ComissionDate" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Equipment Name</td>
                       <td><input type="text" name="EquipmentName" value="" size="40"/> </td>
                   </tr>
                   <tr>
                       <td>Process Desciption&emsp;</td>
                       <td><input type="text" name="ProcessDesciption" value="" size="40"/></td>
                   </tr>
               </table>
            </fieldset>


            <fieldset style="width: 1000px; ">
                <legend style="font-size: 18px"><p><b>Component</b></p></legend></br>
               <table>
                   <tr>
                       <td>Component Number</td>
                       <td><input type="text" name="ComponentNumber" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Component Type</td>
                       <td><input type="text" name="ComponentType" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>API Component Type</td>
                       <td><input type="text" name="APIComponentType" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Component Name</td>
                       <td><input type="text" name="ComponentName" value="" size="40"/></td>
                   </tr>
                   <tr>
                       <td>Risk Links to Equipment Risk</td>
                       <td><input type="checkbox" value= 1  name="RLTER" /></td>
                   </tr>
                   <tr>
                       <td>Report Template</td>
                       <td><input list="ReportTemplate" name="ReportTemplate" value="" size="40"/>
                           <datalist id="ReportTemplate">
                               <option value="A"></option>
                           </datalist>
                       </td>

                   </tr>


               </table>
            </fieldset>

    </form>
</div>
</body>

