<html lang="en">

<body>
<div>
    <form action=""/>
    <fieldset style="width: 1000px;">
        <legend style="font-size: 20px"><p><b>Consequence Analysis for Tank</b></p></legend>
        <table cellspacing="10px" width="1000px;">
            <tr>
                <td><span style="font-size: 16px;">Fluid Phase</span> </td>
                <td><input list="FluidPhase" name="FluidPhase" value="" size="20">
                    <datalist id="FluidPhase">
                        <option value="&emsp;"/>
                    </datalist>
                </td>
                <td><span style="font-size: 16px;">Mass Invert</span> </td>
                <td><input type="text" name="MassInvert" value="" size="20">&ensp;kg </td>
            </tr>
            <tr>
                <td><span style="font-size: 16px;">Meterial Cost</span> </td>
                <td><input list="MeterialCost" name="MeterialCost" value="" size="20">&ensp;$ </td>
                <td><span style="font-size: 16px;">Mass Component</span> </td>
                <td><input list="MassComponent" name="MassComponent" value="" size="20">&ensp;kg </td>
            </tr>
            <tr>
                <td><span style="font-size: 16px;">Production Cost</span> </td>
                <td><input type="text" name="ProductionCost" value="" size="20">&ensp;$/Day
                    <datalist id="ProductionCost" >
                        <option value="&emsp;"/>
                    </datalist>
                </td>
                <td><span style="font-size: 16px;">Mittigation System</span> </td>
                <td><input list="MassInvert" name="MassInvert" value="" size="20">
                    <datalist id="MassInvert">
                        <option value="&emsp;"/>
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><span style="font-size: 16px;">API Component Type Name</span> </td>
                <td><input list="API" name="API" value="" size="20">
                    <datalist id="API">
                        <option value="&emsp;"/>
                        <option value="&emsp;"/>
                    </datalist>
                </td>
                <td><span style="font-size: 16px;">Stored Pressure</span> </td>
                <td><input type="text" name="StoredPressure" value="" size="20">&ensp;psi </td>
            </tr>
            <tr>
                <td><span style="font-size: 16px;">Detection Type</span> </td>
                <td><input list="DetectionType" name="DetectionType" value="" size="20">
                    <datalist id="DetectionType">
                        <option value="&emsp;"/>
                    </datalist>
                </td>

            </tr>
            <tr>
                <td><span style="font-size: 16px;">Isulation Type</span> </td>
                <td><input list="IsulationType" name="IsulationType" value="" size="20">
                    <datalist id="IsulationType">
                        <option value="&emsp;"/>
                    </datalist>
                </td>
                <td><span style="font-size: 16px;">Stored Temperature</span> </td>
                <td><input type="text" name="StoredTemperature" value="" size="20">&ensp;&deg;C </td>
            </tr>
            <tr>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td></td><td><input type="submit" value="Creat new a Consequence Analysis Tank" style="font-size: 16px" name=""></td>
            </tr>

        </table>
    </fieldset>
</div>
</body>
</html>