<html lang="en">

<body>
<div>
    <form action=""/>
    <fieldset style="width: 1000px;">
        <legend style="font-size: 20px"><p><b>Generic Fluid</b></p></legend>
        <h4>Add new a Generic Fluid</h4>
        <table cellspacing="10px" width="1000px;">
            <tr>
                <td>&emsp;&emsp;&emsp;</td>
                <td><span style="font-size: 16px;">Generic Fluid</span></td>
                <td><input type="text" name="GenericFluid" value="" size="40"/> </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="font-size: 16px;">Normal Boiling Point (&deg;C)</span></td>
                <td><input type="text" name="NormalBoilingPoint" value="" size="40"/> </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="font-size: 16px;">Vapour Density (kg/m3)</span></td>
                <td><input type="text" name="GenericFluid" value="" size="40"/> </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="font-size: 16px;">MW</span></td>
                <td><input type="text" name="MW" value="" size="40"/> </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="font-size: 16px;">Chemical Factory</span></td>
                <td><input type="text" name="Chemical Factory" value="" size="40"/> </td>
            </tr>
        </table>

    <fieldset style="display: inline-block;width: 283px;">
        <legend style="font-size: 18px"><p>Generic Fluid (NFPA)</p></legend>
        <table>
        <tr>
            <td>
            </td>
            <td><input type="radio" name="Class0"/> </td>
            <td>Class 0</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="radio" name="Class1"/> </td>
            <td>Class 1</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="radio" name="Class2"/> </td>
            <td>Class 2</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="radio" name="Class3"/> </td>
            <td>Class 3</td>
        </tr>
        <tr>
            <td>&emsp;&emsp;</td>
            <td><input type="radio" name="Class4"/> </td>
            <td>Class 4</td>
        </tr>
        </table>
    </fieldset>
    <fieldset style="display: inline-block;width: 283px;">
        <legend style="font-size: 18px"><p>Flammability (NFPA)</span></p></legend>
        <table>
            <tr>
                <td>
                </td>
                <td><input type="radio" name="Class0"/> </td>
                <td>Class 0</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="radio" name="Class1"/> </td>
                <td>Class 1</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="radio" name="Class2"/> </td>
                <td>Class 2</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="radio" name="Class3"/> </td>
                <td>Class 3</td>
            </tr>
            <tr>
                <td>&emsp;&emsp;</td>
                <td><input type="radio" name="Class4"/> </td>
                <td>Class 4</td>
            </tr>
        </table>
    </fieldset>
        <fieldset style="display: inline-block;width: 283px;">
            <legend style="font-size: 18px"><p>Health</span></p></legend>
            <table>
                <tr>
                    <td>
                    </td>
                    <td><input type="radio" name="Degree0"/> </td>
                    <td>Degree 0</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="radio" name="Degree1"/> </td>
                    <td>Degree 1</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="radio" name="Degree2"/> </td>
                    <td>Degree 2</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="radio" name="Degree3"/> </td>
                    <td>Degree 3</td>
                </tr>
                <tr>
                    <td>&emsp;&emsp;</td>
                    <td><input type="radio" name="Degree4"/> </td>
                    <td>Degree 4</td>
                </tr>
            </table>

        </fieldset>
        <table>
            <tr>
                <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                <td>&emsp;</td>

                <td>&emsp;&emsp;</td>
                <td>&emsp;</td>
            </tr>
            <tr>
                <td></td><td><input type="submit" class="button" style="font-size: 16px" value="Creat a GenericFluid"></td>
            </tr>
        </table>
    </fieldset>
</div>
</body>
</html>