<html lang="en">
<body>
<div>
    <form action="" />
    <fieldset style="width: 1000px;">
        <legend style="font-size: 20px"><p><b>Risk Factor</b></p></legend>
        <fieldset>
            <legend style="font-size: 16px"><p><b>Initial Factor</b></p></legend>
            <table cellspacing="10px" width="1000px;">
                <tr>
                    <td><span style="font-size: 16px">Thining Factor</span> </td>
                    <td><input list="ThiningFactor" name="ThiningFactor" value="" size="30">
                        <datalist id="ThiningFactor">
                            <option value="&emsp;"/>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Total Generic Failure Frequenc</span> </td>
                    <td><input type="text" name="TGFF" value="" size="30"/> </td>

                </tr>
                <tr>
                    <td><span style="font-size: 16px">Factor of Management Systerm</span> </td>
                    <td><input type="text" name="Factor" value="" size="30"/> </td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                    <td>&emsp;</td>
                    <td>&emsp;</td>
                </tr>


            </table>
        </fieldset>
        <fieldset>
            <legend style="font-size: 16px"><p><b>Damage Factors and Probability of Failure</b></p></legend>
            <table cellspacing="10px" width="1000px;">
                <tr>
                    <td><span style="font-size: 16px">Assessment Periods</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><p><span style="font-size: 16px">0 months</span></p></td>
                    <td><p><span style="font-size: 16px">6 months</span></p></td>
                    <td><p><span style="font-size: 16px">72 months</span></p></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Governing Thinning Damage Factor</span></td>
                    <td><input type="text" value="" name="GTDM1" size="10px" /> </td>
                    <td><input type="text" value="" name="GTDM2" size="10"/> </td>
                    <td><input type="text" value="" name="GTDM3" size="10" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Governing Stress Corrosion Cracking Damage Factor</span></td>
                    <td><input type="text" value="" name="GSCCDF1" size="10px"/> </td>
                    <td><input type="text" value="" name="GSCCDF2" size="10"/> </td>
                    <td><input type="text" value="" name="GSCCDF3" size="10"/> </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Governing External Damage Factor</span></td>
                    <td><input type="text" value="" name="GEDF1" size="10"/> </td>
                    <td><input type="text" value="" name="GEDF2" size="10" /></td>
                    <td><input type="text" value="" name="GEDF3" size="10" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">High Temperature Hydrogen Attack Damage Factor</span></td>
                    <td><input type="text" value="" name="HTHADF1" size="10" /> </td>
                    <td><input type="text" value="" name="HTHADF2" size="10" /></td>
                    <td><input type="text" value="" name="HTHADF3" size="10" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Governing Brittle Fracture Damage Factor</span></td>
                    <td><input type="text" value="" name="GBFDF1" size="10"/> </td>
                    <td><input type="text" value="" name="GBFDF2" size="10" /> </td>
                    <td><input type="text" value="" name="GBFDF3" size="10" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Piping Mechanical Fatigue Damage Factor</span></td>
                    <td><input type="text" value="" name="PMFDF1" size="10" /> </td>
                    <td><input type="text" value="" name="PMFDF2" size="10" /></td>
                    <td><input type="text" value="" name="PMFDF3" size="10" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Other Damage Factor</span></td>
                    <td><input type="text" value="" name="ODF1" size="10" /> </td>
                    <td><input type="text" value="" name="ODF2" size="10" /></td>
                    <td><input type="text" value="" name="ODF3" size="10" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Total Damage Factor with General Thinning</span></td>
                    <td><input type="text" value="" name="TDFGT1" size="10" </td>
                    <td><input type="text" value="" name="TDFGT2" size="10" </td>
                    <td><input type="text" value="" name="TDFGT3" size="10" </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Total Damage Factor with Local Thinning</span></td>
                    <td><input type="text" value="" name="TDFLT1" size="10" /> </td>
                    <td><input type="text" value="" name="TDFLT2" size="10" /></td>
                    <td><input type="text" value="" name="TDFLT3" size="10" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Final Total Damage Factor </span></td>
                    <td><input type="text" value="" name="FTDF1" size="10"/> </td>
                    <td><input type="text" value="" name="FTDF2" size="10"/> </td>
                    <td><input type="text" value="" name="FTDF3" size="10" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Probability of Failure </span></td>
                    <td><input type="text" value="" name="PF1" size="10" /></td>
                    <td><input type="text" value="" name="PF2" size="10"/> </td>
                    <td><input type="text" value="" name="PF3" size="10"/> </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Probability of Failure Category </span></td>
                    <td><input type="text" value="" name="PFC1" size="10"/> </td>
                    <td><input type="text" value="" name="PFC2" size="10"/> </td>
                    <td><input type="text" value="" name="PFC3" size="10" /></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">RLI</span></td>
                    <td><input type="text" value="" name="PFC1" size="10" /> </td>
                    <td><span style="font-size: 16px">months</span></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td><td><input type="submit" value="Creat new a Risk Factor" style="font-size: 16px" name=""></td>
                </tr>


            </table>
        </fieldset>
        </fieldset>

    </fieldset>
</div>
</body>
</html>