{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Manufacture{% endblock %}

{% block vertical %}
    <div class="vertical-menu">
        <a class="active">Manufacture Management</a>
        <a href="{% block listmanu %}{% endblock %}"><i class="fa fa-list">&emsp;List of Manufacture</i></a>
        <a href="{% block newmanu %}{% endblock %}"><i class="fa fa-recycle">&emsp;New Manufacture</i></a>
        <a href="{% block backfaci %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Back to Facilities</i></a>
    </div>
{% endblock %}