{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Equipment{% endblock %}

{% block vertical %}
    <div class="vertical-menu">
        <a class="active">Equipment Management</a>
        <a href="{% block listeq %}{% endblock %}"><i class="fa fa-list">&emsp;List of Equipments</i></a>
        <a href="{% block neweq %}{% endblock %}"><i class="fa fa-anchor">&emsp;New Equipment</i></a>
        <a href="{% block backfaci %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Back to Facility</i></a>
    </div>
{% endblock %}