<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoatingCladdingLiningInsulation</title>
</head>
<body>
<div >
    <form action="">
        <fieldset style="width:1000px;">
            <legend style="font-size: 20px"><p><b>Coating, Cladding, Lining, Insulation</b></p></legend>
            <fieldset>
                <legend style="font-size: 18px"><p><b>Coating</b></p></legend>
                <table  cellspacing="10px" width="1000px;">
                <tr>
                    <td><span style="font-size: 16px">Internal Coating</span></td>
                    <td><input type="checkbox" value= 1 list="InternalCoating" name="InternalCoating">

                    </td>
                    <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                    <td></td>

                </tr>
                <tr>
                    <td><span style="color:red;font-size: 16px">External Coating</span></td>
                    <td><input type="checkbox" value= 1 list="ExternalCoating" name="ExternalCoating">

                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Support Configuration Which Does</br> Not Allow Coating Maintenance</span></td>
                    <td><input type="checkbox" value= 1 list="SCWD" name="SCWD"/>

                    </td>
                </tr>
                <tr >
                    <td><span style="font-size: 16px">External Coating Installation Date</span></td>
                    <td><input type="date" name="ExternalCoatingID" value="" size="40" />

                    </td>
                </tr>
                <tr>
                    <td><span style="color:red;font-size: 16px">External Coating Quality</span> </td>
                    <td><input list="ECQ" name="ExternalCoatingQuality" size="40"/>
                        <datalist id="ECQ">
                            <option value="High coating quality"/>
                            <option value="Medium coating quality"/>
                            <option value="No coating or poor quality"/>
                        </datalist>
                    </td>
                </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend style="font-size: 18px"><p><b>Cladding</b></p></legend>
                <table  cellspacing="10px" width="1000px;">
                <tr>
                    <td><span style="font-size: 16px">Internal Cladding</span></td>
                    <td><input type="checkbox" value= 1 list="InternalCladding" name="InternalCladding"/>

                    </td>
                    <td>&emsp;&emsp;&emsp;&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Cladding Corrosion Rate</span></td>
                    <td><input type="text" name="CladdingCorrosionRate" value="" size="20"/>&ensp;mm/yr</td>
                </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend style="font-size: 18px"><p><b>Lining</b></p></legend>
                <table  cellspacing="10px" width="1000px;">
                <tr>
                    <td><span style="color:#ff0000;font-size: 16px">Internal Lining </span></td>
                    <td><input type="checkbox" value= 1 list="InternalLining" name="InternalLining"/>
                    </td>

                    <td>&ensp;&ensp;</td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Internal Liner Type</span></td>
                    <td><input list="ILT" name="InternalLinerType" size="40"/>
                        <datalist id="ILT">
                            <option value="Acid Brick"/>
                            <option value="Castable refractory"/>
                            <option value="Castable refractory severe condition"/>
                            <option value="Fibreglass"/>
                            <option value="Glass lined"/>
                            <option value="Organic"/>
                            <option value="Strip lined alloy"/>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Internal Liner Condition</span></td>
                    <td><input list="ILC" name="InternalLinerCondition" size="40"/>
                        <datalist id="ILC">
                            <option value="Average"/>
                            <option value="Good"/>
                            <option value="Poor"/>
                            <option value="Unknown"/>
                        </datalist>
                    </td>
                </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend style="font-size: 18px"><p><b>Insulation</b></p></legend>
                <table  cellspacing="10px" width="1000px;">
               <tr>
                    <td><span style="color: #ff0000;font-size: 16px"> External Insulation</span></td>
                    <td><input  type="checkbox" value= 1 list="ExternalInsulation" name="ExternalInsulation" size="40"/>


               </tr>
               <tr>
                    <td><span style="font-size: 16px">Insulation Contains Chlorides&emsp;&ensp;</span></td>
                    <td><input type="checkbox" value= 1 list="ICC" name="ICC"/>

                    </td>
               </tr>
               <tr>
                    <td><span style="font-size: 16px">External Insulation Type</span></td>
                    <td><input list="EIT" name="ExternalInsulationType" size="40"/>
                        <datalist id="EIT">
                            <option value="Asbestos"/>
                            <option value="Calcium Silicate"/>
                            <option value="Fibreglass"/>
                            <option value="Foam Glass"/>
                            <option value="Mineral Wool"/>
                            <option value="Pearlite"/>
                        </datalist>
                    </td>
               </tr>
                    <td><span style="color: #ff0000;font-size: 16px">Insulation Condition</span></td>
                    <td><input list="IC" name="InsulationCondition" size="40"/>
                        <datalist id="IC">
                            <option value="Above average"/>
                            <option value="Average"/>
                            <option value="Below average"/>
                        </datalist>
                    </td>


               </tr>
               <tr>
                   <td></td><td><input type="submit" value="Creat a new Coating" style="font-size: 16px"></td>
               </tr>
            </table>
            </fieldset>
        </fieldset>
    </form>
</div>

</body>
</html>
