<!DOCTYPE html>
<html lang="en">

<body>
<div>
    <form action="" />
    <fieldset style="width: 1100px;">
        <legend style="font-size: 24px"><p><b>Component</b></p></legend>

            <table  cellspacing="10px" width="1100px;">
                <tr>
                    <td><span style="font-size:16px">Nominal Diameter</span></td>
                    <td><input type="text" name="NominalDiameter" />&nbsp;in</td>
                    <td><span style="font-size:16px">Nominal Thickness</span></td>
                    <td><input type="text" name="NominalThickness"/>&nbsp;mm</td>

                </tr>
                <tr>
                    <td><span style="font-size:16px">Current Thickness</span></td>
                    <td><input type="text" name="CurrentThickness" />&nbsp;mm</td>
                    <td><span style="font-size:16px">Min. Required Thickness</span>
                    <td><input type="text" name="Min" />&nbsp;mm</td>
                </tr>
                <tr>
                    <td><span style="font-size:16px">Current Corrosion Rate</span></td>
                    <td><input type="text" name="Current" />&nbsp;mm/yr</td>
                    <td><span style="font-size:16px">Delta FATT</span>
                    <td><input type="text" name="DeltaFATT" /></td>
                </tr>
                <tr>
                    <td><span style="font-size:16px">Damage Found During Inspection</span>
                    <td><input type="checkbox" list="DFDI" name="DFDI" value= 1 >


                    </td>

                </tr>
                <tr>
                    <td><span style="font-size:16px">Presence of Injection Mix Point</span></td>
                    <td><input type="checkbox" value= 1  list="ChemicalInjection" name="ChemicalInjection"/>

                    </td>
                    <td><span style="font-size:16px">Presence of Cracks</span></td>
                    <td><input  type="checkbox" value= 1  list="PresenceCracks" name="PresenceCracks"/>


                    </td>
                </tr>
                <tr>
                    <td><span style="font-size:16px">Highly Effective Inspection </br>for Corrosion at Injection Mix Point</span></td>
                    <td><input type="checkbox" value=1 list="HFICI" name="HFICI">

                    </td>
                    <td><span style="font-size:16px">Tramp Elements</span></td>
                    <td><input type="checkbox" value= 1 list="TrampElements" name="TrampElements" />

                    </td>
                </tr>
                </table>

                <table cellspacing="10px" width="1000px;">

                <tr>
                <td><span style="font-size:16px">Maximum Brinnell Hardness of Weld</span></td>
                <td><input list="MBHW" name="MBHW" size="40"/>
                    <datalist id="MBHW">
                        <option value="Below 200"/>
                        <option value="Between 200 and 237"/>
                        <option value="Greater than 237"/>
                    </datalist>
                </td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td><span style="font-size:16px">Complexity of Protrusions</span></td>
                <td><input list="ComplexityProtrusions" name="ComplexityProtrusions" size="40"/>
                    <datalist id="ComplexityProtrusions">
                        <option value="Above average"/>
                        <option value="Average"/>
                        <option value="Below average"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="color: red;font-size:16px">Cyclic Loading Connected within 15.25m</span> </td>

                <td><input list="CLC" name="CLC" size="40"/>
                    <datalist id="CLC">
                        <option value="None"/>
                        <option value="PRV chatter"/>
                        <option value="Reciprocating machinery"/>
                        <option value="Valve with high pressure drop"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="font-size:16px">Branch Diameter</span></td>
                <td><input list="BranchDiameter" name="BranchDiameter" size="40"/>
                    <datalist id="BranchDiameter">
                        <option value="Any branch less than or equal to 2&#34; Nominal OD"/>
                        <option value="All branches greater than  2&#34; Nominal OD"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="font-size:16px">Joint Type of Branch</span></td>
                <td><input list="JTB" name="JTB" size="40"/>
                    <datalist id="JTB">
                        <option value="None"/>
                        <option value="Piping tee weldolets"/>
                        <option value="Saddle in fittings"/>
                        <option value="Sweepolets"/>
                        <option value="Threaded, socket welded, or saddle on"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="font-size:16px">Number of Fittings on Pipe</span></td>
                <td><input list="NFP" name="NFP" size="40"/>
                    <datalist id="NFP">
                        <option value="More than 10"/>
                        <option value="6 to 10"/>
                        <option value="Up to 5"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="font-size:16px">Pipe Condition</span></td>
                <td><input list="PipeCondition" name="PipeCondition" size="40"/>
                    <datalist id="PipeCondition">
                        <option value="Broken gussets or gussets welded directly to pipe"/>
                        <option value="Good condition"/>
                        <option value="Missing or damage supports, improper support"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="color:red;font-size:16px">Previous Failures</span></td>
                <td><input list="PreviousFailures" name="PreviousFailures" size="40"/>
                    <datalist id="PreviousFailures">
                        <option value="Greater than one"/>
                        <option value="None"/>
                        <option value="One"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="color:red;font-size:16px">Visible or Audible Shaking Detected</span></td>
                <td><input  type="checkbox" value= 1 list="VASD" name="VASD" />

                </td>
                </tr>
                <tr>
                <td><span style="font-size:16px">Amount of Shaking of the Pipe</span></td>
                <td><input list="ASP" name="ASP" size="40"/>
                    <datalist id="ASP">
                        <option value="Minor"/>
                        <option value="Moderate"/>
                        <option value="Severe"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="font-size:16px">Accumulated Time Shaking of Pipe</span></td>
                <td><input list="ATSP" name="ATSP" size="40"/>
                    <datalist id="ATSP">
                        <option value="13 to 52 weeks"/>
                        <option value="2 to 13 weeks"/>
                        <option value="Less than 2 weeks"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td><span style="font-size:16px">Corrective Action to Mitigate Vibration</span></td>
                <td><input list="CAMV" name="CAMV" size="40"/>
                    <datalist id="CAMV">
                        <option value="Engineering Analysis"/>
                        <option value="Experience"/>
                        <option value="None"/>
                    </datalist>
                </td>
                </tr>
                <tr>
                <td ><input type="submit" name="Component" class="button" value="Creat new Component" style="font-size: 16px"></td>
                </tr>

        </table>

    </fieldset>
</div>
</body>
</html>
