<!DOCTYPE html>
<html lang="en">

<body>
<div>
    <form action=""  >
        <fieldset style="width: 1000px;">
            <legend style="font-size: 24px"><p><b>Equipment</b></p></legend>
            <table   cellspacing="10px" width="1000px;">
                <tr>
                    <td><span style="font-size: 16px">Administrative Control for Upset Management</span></td>
                    <td><input type="checkbox" value=1 list="Admin" name="Admin"  />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

                    </td>
                    <td><span style="font-size: 16px">Contains Deadlegs</span></td>
                    <td><input  type="checkbox" value= 1 name="ContainsDeadlegs" list="ContainsDeadlegs"/></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Highly Effective Inspection for Deadlegs</span></td>
                    <td><input type="checkbox" value= 1 name="Highly" list="Highly" /></td>
                    <td><span style="color: red;font-size: 16px"> Cylic Operation</span></td>
                    <td><input type="checkbox" value= 1 list="CylicOper" name="CylicOper" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Downtime Protection Used</span></td>
                    <td><input  type="checkbox" value= 1 list="Downtime" name="Downtime"  />

                    </td>
                    <td><span style="font-size: 16px">Steamed Out Prior to Water Flushing</span></td>
                    <td><input type="checkbox" value= 1 list="Steamed" name="Steamed"  />

                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Heat Traced</span></td>
                    <td><input type="checkbox" value= 1 list="HeatTraced" name="HeatTraced" />

                    </td>
                    <td><span style="font-size: 16px">PWHT</span></td>
                    <td><input  type="checkbox" value= 1 list="PWHT" name="PWHT"  />

                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Interface at Soil or Water</span></td>
                    <td><input type="checkbox" value= 1 name="InterfaceSoilWater" list="InterfaceSoilWater"  />

                    </td>

                </tr>


                <tr>
                    <td><span style="font-size: 16px">Pressurisation Controlled by Admin</span></td>
                    <td><input type="checkbox" value= 1 list="PressurisationControlled" name="PressurisationControlled" />

                    </td>
                    </td>
                    <td><span style="font-size: 16px">Liner Online Monitoring</span></td>
                    <td><input  type="checkbox" value= 1 list="LOM" name="LOM"  />

                    </td>

                </tr>

                <tr>
                    <td><span style="font-size: 16px">Equipment is Operating for Many Years at </br>Lowest Expected Temperature</span></td>
                    <td><input type="checkbox" value= 1 list="EquOper" name="EquOper" />

                    </td>
                    <td><span style="font-size: 16px">Presence of Sulphides, Moisture </br>and Oxygen During Shutdown&</span></td>
                    <td><input type="checkbox" value= 1 list="PresenceofSulphidesShutdow" name="PresenceofSulphidesShutdow" />

                    </td>
                </tr>
                <tr>
                    <td><span style="color:red;font-size: 16px">Material is Exposed to Fluids, Mists or Solids</br> Containing Chlorine Externally</span></td>
                    <td><input type="checkbox" value= 1 list="MFTF" name="MFTF"/>

                    </td>
                    <td><span style="font-size: 16px">Presence of Sulphides, Moisture </br>and Oxygen During Operation</span></td>
                    <td><input type="checkbox" value= 1 name="PresenceofSulphides" list="PresenceofSulphides" />

                    </td>
                </tr>

                <table cellspacing="15px" width="800px;">
                    <tr>
                        <td><span style="font-size: 16px">Min. Required Temperature Before</br> Pressurisation Allowed by Admin</span></td>
                        <td><input type="text" name="Min" value="" size="13"/>&ensp;&deg;C</td>
                    </tr>
                <tr>
                <td><span style="font-size: 16px">External Environment</span></td>
                <td><input list="ExternalEnvironment" name="ExternalEnvironment" size="48"/>
                    <datalist id="ExternalEnvironment">
                        <option value="Arid/dry"></option>
                        <option value="Marine"></option>
                        <option value="Severe"></option>
                        <option value="Temperate"></option>
                    </datalist>
                </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Thermal History</span></td>
                    <td><input list="ThermalHistory" name="ThermalHistory" size="48"/>
                    <datalist id="ThermalHistory">
                        <option value="None"></option>
                        <option value="Solution Annealed"></option>
                        <option value="Stabilised After Welding"></option>
                        <option value="Stabilised Before Welding"></option>
                    </datalist>
                    </td>
                </tr>

                <tr>
                    <td><span style="font-size: 16px">Online Monitoring</span></td>
                    <td><input list="OnlineMonitoring"  name="OnlineMonitoring" size="48"/>
                     <datalist id="OnlineMonitoring">
                        <option value="Amine high velocity corrosion - Corrosion coupons"></option>
                        <option value="Amine high velocity corrosion - Electrical resistance probes"></option>
                        <option value="Amine high velocity corrosion - Key process variable"></option>
                        <option value="Amine low velocity corrosion - Corrosion coupons"></option>
                        <option value="Amine low velocity corrosion - Electrical resistance probes"></option>
                        <option value="Amine low velocity corrosion - Key process variable"></option>
                        <option value="HCI corrosion - Corrosion coupons"></option>
                        <option value="HCI corrosion - Electrical resistance probes"></option>
                        <option value="HCI corrosion - Key process variable"></option>
                        <option value="HCI corrosion - Key process variable & Electrical resistance probes"></option>
                        <option value="HF corrosion - Corrosion coupons"></option>
                        <option value="HF corrosion - Electrical resistance probes"></option>
                        <option value="HF corrosion - Key process variable"></option>
                        <option value="High temperature H2S/H2 corrosion - Corrosion coupons"></option>
                        <option value="High temperature H2S/H2 corrosion - Electrical resistance probes"></option>
                        <option value="High temperature H2S/H2 corrosion - Key process parameters"></option>
                        <option value="High temperature Sulfidic / Naphthenic acid corrosion - Corrosion coupons"></option>
                        <option value="High temperature Sulfidic / Naphthenic acid corrosion - Electrical resistance probes"></option>
                        <option value="High temperature Sulfidic / Naphthenic acid corrosion - Key process variable"></option>
                        <option value="No online monitoring"></option>
                        <option value="Other corrosion - Corrosion coupons"></option>
                        <option value="Other corrosion - Electrical resistance probes"></option>
                        <option value="Other corrosion - Key process variable"></option>
                        <option value="Sour water high velocity corrosion - Corrosion coupons"></option>
                        <option value="Sour water high velocity corrosion - Electrical resistance probes"></option>
                        <option value="Sour water high velocity corrosion - Key process variable"></option>
                        <option value="Sour water low velocity corrosion - Corrosion coupons"></option>
                        <option value="Sour water low velocity corrosion - Electrical resistance probes"></option>
                        <option value="Sour water low velocity corrosion - Key process variable"></option>
                        <option value="Sulfuric acid (H2S/H2) corrosion high velocity - Corrosion coupons"></option>
                        <option value="Sulfuric acid (H2S/H2) corrosion high velocity - Electrical resistance probes"></option>
                        <option value="Sulfuric acid (H2S/H2) corrosion high velocity - Key process parameters"></option>
                        <option value="Sulfuric acid (H2S/H2) corrosion high velocity - Key process parameters & electrical resistance probes"></option>
                        <option value="Sulfuric acid (H2S/H2) corrosion low velocity - Corrosion coupons"></option>
                        <option value="Sulfuric acid (H2S/H2) corrosion low velocity - Electrical resistance probes"></option>
                        <option value="Sulfuric acid (H2S/H2) corrosion low velocity - Key process parameters"></option>

                    </datalist>
                    </td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">System Management Factor&</span></td>
                    <td><input type="number" min="0" max="10000000000000" width="50px" name="SystemManagement" /></td>
                </tr>
                <tr>
                    <td><span style="font-size: 16px">Equipment Volume</span></td>
                    <td><input type="text" value="" size="16" name="EquipmentVolume" />&ensp;m3</td>
                </tr>
                <tr align="center">
                    <td><input type="submit" value="Add new Equipment" class="button" style="font-size: 16px"></td>
                </tr>
            </table>
            </table>
        </fieldset>

    </form>
</div>
</body>
</html>
