<!DOCTYPE html>
<html lang="en">

<body>
<div>
    <form action=""  />
        <fieldset style="width: 1000px;">
            <legend style="font-size: 20px"><p><b>No Inspection</b></p></legend>
            <fieldset style="width: 1000px;">
                <legend style="font-size: 18px"><p><b>Number of Inspection</b></p></legend>
                <table cellspacing="10px" width="1000px;">
                    <tr>
                        <td><span style="font-size: 16px">Thinning Damage Factor</span></td>
                        <td><input type="text" name="ThinningDamageFactor"/></td>
                        <td><span style="font-size: 16px;">PTA Cracking</span></td>
                        <td><input type="text" name="PTA"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">Caustic Cracking</span></td>
                        <td><input type="text" name="CausticCracking"/></td>
                        <td><span style="font-size: 16px;">CLSCC Cracking</span></td>
                        <td><input type="text" name="CLSCC"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">Amine Cracking</span></td>
                        <td><input type="text" name="AmineCracking"/></td>
                        <td><span style="font-size: 16px;">HSC-HF Cracking</span></td>
                        <td><input type="text" name="HSCHF"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">Sulphide Stress Cracking</span></td>
                        <td><input type="text" name="Sulphide"/></td>
                        <td><span style="font-size: 16px;">HIC/SOHIC-HF Cracking</span></td>
                        <td><input type="text" name="HIC"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">HIC/SOHIC-H2S</span></td>
                        <td><input type="text" name="HICSOHICH2S"/></td>
                        <td><span style="font-size: 16px;">External Corrosion Feritic Component</span></td>
                        <td><input type="text" name="ECFC"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">Carbonate Cracking</span></td>
                        <td><input type="text" name="CarbonateCracking"/></td>
                        <td><span style="font-size: 16px;">CUI Damage Feritic Component</span></td>
                        <td><input type="text" name="CUI"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">External CLSCC-Austenitic Component</span></td>
                        <td><input type="text" name="ECLSCC"/></td>
                        <td><span style="font-size: 16px;">External CUI CLSCC-Austenitic Component</span></td>
                        <td><input type="text" name="CUICLSCC"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">HTHA</span></td>
                        <td><input type="text" name="HTHA"/></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend><p><b>Inspection Category</b></p></legend>
                <table cellspacing="10px" width="1000px;">
                    <tr>
                        <td><span style="font-size: 16px">Thinning Damage Factor</span></td>
                        <td><input list="ThinningDamageFactor" name="ThinningDamageFactor"/>
                            <datalist id="ThinningDamageFactor">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                        <td><span style="font-size: 16px;">PTA Cracking</span></td>
                        <td><input list="PTACracking" name="PTACracking"/>
                            <datalist id="PTACracking">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">Caustic Cracking</span></td>
                        <td><input list="CausticCracking" name="CausticCracking"/>
                            <datalist id="CausticCracking">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                        <td><span style="font-size: 16px;">CLSCC Cracking</span></td>
                        <td><input list="CLSCC" name="CLSCC"/>
                            <datalist id="CLSCC">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">Amine Cracking</span></td>
                        <td><input list="Amine" name="Amine"/>
                            <datalist id="Amine">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                        <td><span style="font-size: 16px;">HSC-HF Cracking</span></td>
                        <td><input list="HSC" name="HSC-HF"/>
                            <datalist id="HSC">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">Sulphide Stress Cracking</span></td>
                        <td><input list="Sulphide" name="Sulphide"/>
                            <datalist id="Sulphide">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                        <td><span style="font-size: 16px;">HIC/SOHIC-HF Cracking</span></td>
                        <td><input list="HIC" name="HIC/SOHIC-HF"/>
                            <datalist id="HIC">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">HIC/SOHIC-H2S</span></td>
                        <td><input list="SOHIC" name="SOHIC"/>
                            <datalist id="SOHIC">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                        <td><span style="font-size: 16px;">External Corrosion Feritic Component</span></td>
                        <td><input list="ECFC" name="ECFC"/>
                            <datalist id="ECFC">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">Carbonate Cracking</span></td>
                        <td><input list="CarbonateCracking" name="CarbonateCracking"/>
                            <datalist id="CarbonateCracking">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                        <td><span style="font-size: 16px;">CUI Damage Feritic Component</span></td>
                        <td><input list="CUI" name="CUI"/>
                            <datalist id="CUI">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">External CLSCC-Austenitic Component</span></td>
                        <td><input list="ECLSCC" name="ECLSCC"/>
                            <datalist id="ECLSCC">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                        <td><span style="font-size: 16px;">External CUI CLSCC-Austenitic Component</span></td>
                        <td><input list="CUICLSCC" name="CUICLSCC"/>
                            <datalist id="CUICLSCC">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16px">HTHA</span></td>
                        <td><input list="HTHA" name="HTHA"/>
                            <datalist id="HTHA">
                                <option value="&emsp;"/>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td></td><td><input type="submit" value="Creat new a No Inspection" style="font-size: 16px"></td>
                    </tr>
                </table>
            </fieldset>
        </fieldset>
</div>
</body>
</html>