
<body>
<div>
    <form action="" >
        <fieldset style="width: 1000px;">
            <legend style="font-size: 20px"><p><b>Assessment General Information</b></p></legend>
            <fieldset style="width: 1000px;">
                <legend style="font-size: 18px"><p><b>Assessment</b></p></legend></br>
                <ul style="list-style: none;padding-left:10px; width: 800px;">
                    <li>Assessment Name&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;</span><input type="text" name="AssessmentName" value="" size="40"/> </li></br>
                    <li>Assessment Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="date" size="40" value="" name="AssessmentDate"/>

                    </li></br>
                    <li>Assessment Method&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;<input list="AssessmentMethod" size="40"  value="" name="AssessmentMethod"/>
                        <datalist id="AssessmentMethod">
                            <option value="Semi-Quantitative PoF and Semi -Quantitative CoF"/>
                            <option value="Semi-Quantitative PoF and Fully -Quantitative CoF"/>
                            <option value="Fully-Quantitative PoF and Semi -Quantitative CoF"/>
                            <option value="Fully-Quantitative PoF and Fully -Quantitative CoF"/>
                        </datalist>
                    </li></br>
                    <li>Risk Analysis Period&nbsp;&emsp;&emsp;&emsp;&emsp;&ensp;<input type="text" name="RiskAnalysisPeriod" value="" size="20">&ensp;months </li></br>
                </ul>
            </fieldset>
            <fieldset style="width: 1000px;">
                <legend style="font-size: 18px"><p><b>Equipment</b></p></legend></br>
                <ul style="list-style: none;padding-left:10px;">
                    <li>Equipment Number&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<input type="text" name="EquipmentNumber" value=""];?>" size="40"/> </li></br>
                    <li>Equipment Type&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<input type="text" name="EquipmentType" value="" size="40"/> </li></br>
                    <li>Design Code&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" name="DesignCode" value="" size="40"/> </li></br>
                    <li>Site &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<input type="text" name="Plant" value="" size="40"/> </li></br>
                    <li>Facility&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;<input type="text" name="Facility" value="" size="40"/> </li></br>
                    <li>Manufacturer&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;<input type="text" name="Manufacturer" value="" size="40"/> </li></br>
                    <li>Comission Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;<input type="date" name="ComissionDate" value="" size="40"/>

                    </li></br>
                    <li>Equipment Name&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" name="EquipmentName" value="" size="40"/> </li></br></li>
                    <li>Process Desciption&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<input type="text" name="ProcessDesciption" value="" size="40"/> </li></br>
                </ul>
            </fieldset>
            <fieldset style="width: 1000px; ">
                <legend style="font-size: 18px"><p><b>Component</b></p></legend></br>
                <ul style="list-style: none;padding-left:10px;">
                    <li>Component Number&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" name="ComponentNumber" value="" size="40"/> </li></br>
                    <li>Component Type&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<input type="text" name="ComponentType" value="" size="40"/> </li></br>
                    <li>API Component Type&emsp;&emsp;&emsp;&emsp;&ensp;<input type="text" name="" value="" size="40"/> </li></br>
                    <li>Component Name&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;<input type="text" name="ComponentName" value="" size="40"/> </li></br>
                    <li>Risk Links to Equipment Risk&emsp;<input type="checkbox" value= 1  name="RLTER" /></li></br>
                </ul>
            </fieldset>
            <fieldset style="width: 1000px;">
                <legend style="font-size: 18px"><p><b>Report Template</b></p></legend></br>
                <ul style="list-style: none ; padding-left:10px;">
                    <li>Report Template&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;<input list="ReportTemplate" name="ReportTemplate" value="" size="40"/>
                        <datalist id="ReportTemplate">
                            <option value="&nbsp;"/>
                        </datalist>
                    
                </ul>
               
            </fieldset>
             <ul><li><input style="font-size: 18px" type="submit" name="OK" value="Submit new a proposal "></li></ul>
        </fieldset>
    </form>
</div>

</body>

